* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;






}

/* nav item */
.nav-item{
    display: grid;
    align-items: center;
    justify-content: center;
  
}
.nav-item span{
    font-size: 1.3rem;
    text-align: center;
}
.nav-item li a {
    box-shadow: 0px 0px 10px -2px;
}

/*                  utiulity class */
.last-container img{

}

.text-content {
    position: relative;
    padding: 1px;
    margin: 4px 16px;

}

.text-content h5 {
    font-size: 1.2rem;
    color: white;
}

.text-content h3 {
    font-size: 1.4rem;
    color: white;
}

.text-content p {
    font-size: 1rem;
    color: rgb(20, 20, 20);
    opacity: 0.8;
}

.home-content {
    display: flex;
    /* border: 1px solid; */
    height: 130vh;
    width: 100vw;
    background: url(./img/container_bg.png)no-repeat center center/cover;
    align-items: center;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
}

.home-content .box-1 {
    /* border: 1px solid; */
    height: 100vh;
    gap: 15px;
    width: 62vw;
    align-items: center;
    /* animation: ce; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.home-content .box-1 img {
    height: 70%;
    width: 100%;
    border-radius: 10px;

}


/*  */
.box-1-item-1 {
    height: 69vh;
    width: 55vw;
    border-radius: 10px;
    position: relative;
    background-color: rgb(50 141 219);
    color: white;
}

/* .box-1-item-1:hover {} */

.box-1-item-2 {
    display: flex;
    position: relative;
    width: 55vw;
    gap: 10px;
    align-items: center;
    height: 62vh;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.box-1-item-2-content-1 {
    color: white;
    height: 119%;
    width: 48%;
    background-color: rgb(48, 133, 212);
    border-radius: 10px;
}
.box-1-item-2-content-2 {
    color: white;
    height: 119%;
    width: 48%;
    background-color: rgb(41, 43, 45);
    border-radius: 10px;
}


/*                                                        box-2 css */
.home-content .box-2 {

    height: 100vh;
    display: flex;
    width: 21%;
    position: relative;
    gap: 12px;
    flex-direction: column;
}


.home-content .box-2 img {
    height: 56%;
    width: 100%;
    border-radius: 10px;
}

.home-content .box-2 .box-2-items {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

/* @keyframes bounce {
	0%, 1%,  1% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	2% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	1% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-10px)
	}
}


.home-content .box-2 .box-2-items{  
  
  top: 20%;
  left: 20%;
  background-color: red;  


  -webkit-animation-duration: 1s;
  animation-duration:1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
.home-content .box-2 .box-2-items:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
} */

#box-2-item-2 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 76, 76);
}
#box-2-item-2 img{
    width: 100%;
    height: 100%;
}

/*                              home cousel  */
.home-carousal {
    height: 60vh;
    width: 100vw;
    position: relative;
}
.owl-carousel.owl-loaded{
    height: 72vh;
}

.slider {
    margin-bottom: 20px;
    position: relative;
}

.owl-carousel .owl-stage-outer {
    background-color: rgb(41, 40, 40);
    overflow: visible !important;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.55);
    opacity: 1;
    background: #262727;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2f2f30, #262727);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2f2f30, #262727);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}


.slider-card {
    background-color: #fff;
    margin: 10px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px white;
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.slider-card-text {
    background-color: black;
    height: 15vh;
    text-align: start;
    padding-left: 5px;
}

.slider-card-text h5 {
    font-weight: 500;
    font-size: 1rem;
}

.slider-card-text p {
    margin: 0;
    word-spacing: 10px;

}

.slider-img {
    height: 23vh;
    width: 22vw;
}

.owl-carousel .owl-item img {
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(54, 53, 53);
}

.owl-carousel .owl-stage-outer {

    height: 60vh;
}



.owl-nav .owl-next {
    position: absolute;
    top: calc(50% -25px);
    right: 0;
    opacity: 1;
    font-size: 30px;
    z-index: 1;

}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% -25px);
    left: 0;
    opacity: 1;
    font-size: 30px;
    z-index: 1;

}

/*                                               home last srection */
.last-container {
    height: 186vh;
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/container_bg.png)no-repeat center center/cover;

}

.last-content {
    display: flex;
    width: 70%;
    height: 100vh;
    gap: 10px;
}

.last-content-box1 {
    height: 100vh;
    width: 32%;   
    gap: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box1-item {
    width: 24vw;
    height: 70vh;
    border-radius: 10px;
}

.box1-item img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.last-content-box2{
    height: 100vh;
    width: 32vw;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 40px;
}
.box2-item{
background-color: red;  
width: 22vw;
border-radius: 10px;

}
.box2-item img{
width: 100%;
height: 43%;
border-radius: 10px;
}

.last-content-box3{
    height: 132vh;
    width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box3-item{
   
    width: 22vw;
    border-radius: 10px;
    
    }

.box3-item img{
    width: 100%;
    height: 43%;
    border-radius: 10px;
    }


/*                               footer */
.footer{
    height: 125vh; width: 100vw;
    background-color: rgb(54, 54, 54); display: flex; flex-direction: column;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 20px;
    height: 60vh;
    gap: 50px;
    color: white;
}
.footer-part2{
    color: white;
      display: flex; 
      justify-content: center;
      align-items: center;
      width: 100%;
      height: ;
      position: relative;
      gap: 40px;
}
